<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta charset="UTF-8" />
    <title>3D модель</title>
    <link rel="icon" th:href="./favicon.ico" type="image/x-icon" />
    <link rel="shortcut icon" th:href="./favicon.ico" type="image/x-icon" />
    <link href="./styles/main.css" rel="stylesheet" type="text/css" />
    <script type="module" src="./src/main.js"></script>
  </head>
  <body>
    <div id="scene-container">
      <!-- Our <canvas> will be inserted here -->
    </div>
    <div id="notes">3D модель</div>
  </body>
</html>
